<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WaterLogger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WaterLogger.styles.css" asp-append-version="true" />
</head>
<body>
            @* <nav class="navbar navbar-expand-lg bg-light border-bottom box-shadow p-1">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="logo" src="img/water_logo.png" /><span class="h2">Water Me</span></a>
                </div>
            </nav> *@
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>